.TaskItem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #eb5e28;
}

.TaskItem.active {
  background-color: rgb(151, 255, 151);
}

.TaskItem input {
  width: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.TaskItem h2 {
  width: 100%;
}

.TaskItem button {
  font-size: 20px;
  padding: 0;
  width: 30px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.TaskItem button:hover {
  color: rgb(153, 0, 0);
}
